.DS_Store
.idea

/challenge-adoorei/.phpunit.cache
/challenge-adoorei/node_modules
/challenge-adoorei/public/build
/challenge-adoorei/public/hot
/challenge-adoorei/public/storage
/challenge-adoorei/storage/*.key
/challenge-adoorei/vendor
/challenge-adoorei/.env
/challenge-adoorei/.env.backup
/challenge-adoorei/.env.production
/challenge-adoorei/.phpunit.result.cache
/challenge-adoorei/Homestead.json
/challenge-adoorei/Homestead.yaml
/challenge-adoorei/auth.json
/challenge-adoorei/npm-debug.log
/challenge-adoorei/yarn-error.log
/challenge-adoorei/.fleet
/challenge-adoorei/.idea
/challenge-adoorei/.vscode
